### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

# Sometimes we want to allow run configurations
!.idea/runConfigurations/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Kotlin (not needed but safe) ###
.kotlin

### Eclipse (not needed but safe for contributors using Eclipse) ###
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
